/* Banner */
/* ==================== Banner Section ==================== */

#banner{
    background-color: rgb(22, 22, 22);
    height:420px;
    border: 1px solid #1a1716;
    border-radius:25px;
    padding:20px;
    margin: 5%  8%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
}

.grid-item {
    text-align:justify;
    padding-left: 50px;
}

h1{
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

#banner p{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 13px;
    margin-top: -20px;
}

#WatchLive{
    margin-top:10px;
}

#WatchLive button{ 
    border: none;
    color: rgb(255, 255, 255);
    background-color:rgb(221, 0, 0); 
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 90px;
}
#WatchLive button:hover{ 
    background-color: #fff;
    color: red;
    transition-duration: 0.4s;
}


/* ==================== Blog Section ==================== */

#blog{
    height:420px;
    /* border: 1px solid #1a1716; */
    /* border-radius:25px; */
    padding:20px;
    margin: 5%  8%;
}
#blog-tablet{
    display: none;
}

#viewall-tablet{
    display: none;
}
#blog-tablet .flex-container-3{
    display: none;
}


/* ==================== Footer Section ==================== */

footer{
    background-color: rgb(22, 22, 22);
    /* background-color:aqua; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    height:250px;
    margin-top: 500px;
}

footer h2{
    font-size: 35px;
    padding-top: 50px;
    /* padding: 120px 0px; */
} 
.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 60%;
    margin-left: 300px;
    margin-top: 10px;
}
.wrapper h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: rgb(127, 127, 127);
}
.social-icon-desktop{
    margin-left: 35%;
}
.social-icon-desktop h5 a{
    font-size: 15px;
    color: #fff;
}
.wrapper-tablet{
    display: none;
}


/* ==================== Responsive Section ==================== */


/* Responsive For Tab */
@media screen and (max-width: 992px) {
    /* .grid-container {
        background-color: #2196F3;
    } */
    #banner{
        height: 460px;
    }
    #banner p{
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.8;
        font-size: 15px;
        margin-top: -20px;
    }
    #WatchLive button{ 
        font-size: 20px;
        padding: 25px 35px;
    }
    #banner-image{
        margin-top: 40px;
    }

   

    /* Blog Tablet */
    #blog{
        /* display: block; */
        display: none;
    }

    #blog-tablet{
        margin-left: 125px;
        display: block;
    }
    #blog-tablet .flex-container-3{
        display: none;
    }
    #blog-tablet button{
        display: inline;
        border-radius: 15px;
        margin-left: 30px;
        width: 190px;
        height: 75px;
        padding: 5px;
        border: 1px solid blue;
        background-color: #fff;
        border: 1px solid rgb(127, 127, 127);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
    .flex-container-2 > div {
        margin: 35px 20px 0px 12px;
        width: 320px;
    }
    #viewall-tablet{
        display: block;
    }
    #viewall-tablet button{
        background-color: red;
        color: white;
        border-radius: 10px;
        margin-top: 5%;
        margin-left: 41%;
        width: 150px;
        border: none;
    }
    footer{
        margin-top: 80px;
        height: 350px
    }
    .wrapper{
        display: none;
    }
    .wrapper-tablet{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        width: 90%;        
        margin-left: 300px;
        margin-top: 10px;
    }
    .wrapper-tablet h5{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: rgb(127, 127, 127);
        font-size: 13px;
    }
    .wrapper-tablet .social-icon-desktop h5 a{
        font-size: 15px;
        color: #fff;
    }


}


/* Responsive For Mobile */

@media screen and (max-width: 600px) {
    /* .grid-container {
        background-color: #f4392f;
        text-align: center;
    } */
    #banner{
        height: 944px;
    }
    h1{
        font-size: 35px;
        text-align: center;
    }
    #banner p {
        font-size: 14px;
        margin-top: -100px;
    }
    .grid-item {
        text-align: center;
    }
    .grid-item p{
        visibility: hidden;
    }
    .grid-item p:after{
        font-size: 27px;
        content: 'Contrary to popular belief, is not simply random text';
        visibility: visible;
    }
    .grid-item {
        padding-left: 20px;
    }
    #WatchLive {
        margin-top: 10px;
        margin-left: 45px;
    }
    #WatchLive button {
        font-size: 18px;
        padding: 21px 35px;
    }
    .another-line{
        grid-column-start:1;
    }

    #blog-tablet button {
        margin-top: 10px;
    }

    #blog-tablet .flex-container-2{
        display: none;
    }
    #blog-tablet .flex-container-3{
        display: block;
    }
    #blog-tablet .flex-container-3 .card-2{
        width: 72%;
        margin: 21px 0px 0px 14px;
    }

    #viewall-tablet{
        display: none;
    }
    footer{
        margin-top: 80px;
        height: 670px
    }
    
    .wrapper-tablet{
        display: none;
    }
    .wrapper-tablet .social-icon-desktop{
        display: none;
    }
   
    .wrapper{
        /* grid-template-columns: repeat(4, 1fr); */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 1rem;
        margin-left: 15%;
    }
    .social-icon-desktop{
        margin-left: 15%;
    }
}

























/* ==================== Footer Section ==================== */
/* #footer{
    background-color:#152238;
    padding-top:10px; 
    padding-bottom:20px; 
    text-align: center;
}
#footer h2{
    color:rgb(255, 89, 89);
    font-family: "Sofia", sans-serif;
}
#footer small{
    color:aliceblue;
} */